# MARK: - Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Derived/
DerivedData/
timeline.xctimeline
playground.xcworkspace
*.xcodeproj
*.xcworkspace
.DS_Store

# MARK: - Swift Package Manager
.build/
# Packages/
# Package.pins
# Package.resolved
# .swiftpm

# MARK: - CocoaPods
# Pods/

# MARK: - Carthage
Carthage/Build/
# Carthage/Checkouts

# MARK: - fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.env
fastlane/.env
*.p8  # App Store Connect API 키 파일 (보안)

# MARK: - Tuist
Generated/
.project_description/
vendor/
