# MARK: - Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Derived/
DerivedData/
timeline.xctimeline
.DS_Store
*.xcodeproj
*.xcworkspace

# MARK: - Swift Package Manager
.build/
# Packages/
# Package.pins
# Package.resolved
# .swiftpm

# MARK: - CocoaPods
# Pods/

# MARK: - Carthage
Carthage/Build/
# Carthage/Checkouts


# MARK: - Tuist
Generated/
.project_description/
vendor/
