name: iOS CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-13

    steps:
      - uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1

      - name: Install Bundler
        run: gem install bundler -v 2.3.27

      - name: Bundle install
        run: bundle install

      - name: Set ENV
        run: |
          echo "ASC_API_KEY=${{ secrets.ASC_API_KEY }}" >> $GITHUB_ENV
          echo "ASC_KEY_ID=${{ secrets.ASC_KEY_ID }}" >> $GITHUB_ENV
          echo "ASC_ISSUER_ID=${{ secrets.ASC_ISSUER_ID }}" >> $GITHUB_ENV
          echo "MATCH_REPO_URL=https://oauth2:${{ secrets.MATCH_GIT_TOKEN }}@github.com/SOAPFT/SOAPFT-iOS-certificates.git" >> $GITHUB_ENV

      - name: Generate Project
        run: bundle exec tuist generate

      - name: Run Fastlane
        run: bundle exec fastlane ios beta
