name: Deploy to TestFlight

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install

      - name: Install Tuist
        run: |
          brew install tuist

      - name: Generate Xcode Project (Tuist)
        run: |
          tuist generate

      - name: Setup Fastlane match
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_REPO_URL: ${{ secrets.MATCH_REPO_URL }}
        run: |
          bundle exec fastlane match appstore --readonly

      - name: Run Fastlane (Deploy to TestFlight)
        env:
          ASC_KEY_ID: ${{ secrets.ASC_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.ASC_ISSUER_ID }}
          ASC_API_KEY: ${{ secrets.ASC_API_KEY }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          MATCH_REPO_URL: ${{ secrets.MATCH_REPO_URL }}
          DEVELOPER_PORTAL_TEAM_ID: ${{ secrets.DEVELOPER_PORTAL_TEAM_ID }}
        run: |
          bundle exec fastlane ios beta
